$primary-bg-color: #2A313B;
$primary-highlight-color: #FF5A5A;
$width: 480px;

@mixin transform-translate($x, $y){
    @if($x != null){
        -webkit-transform: translateX($x);
        -moz-transform   : translateX($x);
        -o-transform     : translateX($x);
        -ms-transform    : translateX($x);
        transform        : translateX($x);
    }
    @if($y != null){
        -webkit-transform: translateY($y);
        -moz-transform   : translateY($y);
        -o-transform     : translateY($y);
        -ms-transform    : translateY($y);
        transform        : translateY($y);
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	$width: 560px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }


.cl-effect-4 {
	display: inline-block;
	text-align:center;
}
.cl-effect-4 a {
	padding: 0 0 3px;
	position: relative;
}
.cl-effect-4 a:hover {
	text-decoration: none;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 98%;
	height: 1px;
	background: #000;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.2s, opacity 0.2s, -webkit-transform 0.2s;
	-moz-transition: height 0.2s, opacity 0.2s, -moz-transform 0.2s;
	transition: height 0.2s, opacity 0.2s, transform 0.2s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
a:hover,
a:focus {
	outline: none;
}

body {
	font-family: 'Roboto', sans-serif;
}
#alerts {
	position: fixed;
	top: 0px;
	width: 60%;
	left: 20%;
	padding-top: 20px;
	z-index: 100;
	
}
.playlist_info {
	margin: 45px;
	float: left;
}
.playlist_info h1 {
	color: white;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	letter-spacing: 0.05em;
	margin-top: 0px;
}
.playlist_info h3 {
	color: #979797;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0.05em;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}
.playlist_info input {
	border: 0px;
	box-shadow: none;
	background-color: rgba(0,0,0,0.1);
	color: #D8D8D8;
	width: 100%;
	padding: 15px 20px;
	border-radius: 4px;
	height: auto;
	margin-top: 5px;
	float: left;
	letter-spacing: 1px;
}
.playlist_info input:focus {
	color: white;
	background-color: rgba(0,0,0,0.2);
}
.collector_info {
	clear:  both;
	background: rgba(255,255,255,0.05);
	padding: 40px;
	float: left;
	width: 100%;
	position: relative;
}
.section_title {
	text-transform: uppercase;
	float: right;
	text-align: right;
	top: 20px;
	right: 20px;
	position: absolute;
	color: #CECECE;
	font-weight: bold;
	letter-spacing: 1px;
}
.collector_info .collector {
	float: left;
	margin-right: 15px;
	margin-top: 15px;
	width: 45px;
	height: 45px;
}
.collector_info .collector_avatar {
	width: 45px;
	height: 45px;
	background-size: cover;
	background-position: center center;
	border-radius: 45px;
	float: left;
}
.sidebar_player {
	clear:  both;
	padding: 40px;
	float: left;
	width: 100%;
	position: relative;
}
.sidebar_player .cover {
	width: 150px;
	height: 150px;
	float: left;
}
.sidebar_player .cover img {
	width: 150px;
	height: 150px;
	float: left;
}
.sidebar_player .title {
	font-weight: 100;
	color: white;
	letter-spacing: 0.05em;
	float: left;
	margin-left: 30px;
	font-size: 18px;
	margin-top: 27px;
	clear: none;
	display: inline-block;
	width: 220px;
	line-height: 1.3em;
	margin-bottom: 0px;
}
.sidebar_player .artist {
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	margin-left: 30px;
	margin-top: 8px;
	margin-bottom: 0px;
	padding: 0px;
	letter-spacing: 0.05em;
	float: left;
	clear: none;
	color: #979797;
}
.sidebar_player .time {
	color: #979797;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	margin-left: 30px;
	margin-top: 6px;
	margin-bottom: 0px;
	padding: 0px;
	letter-spacing: 0.05em;
	float: left;
	clear: none;
	width: 220px;
}
.sidebar_player .time  i {
	margin-right: 5px;
}
.sidebar_player .pos {
	float: left;
	clear: both;
	margin-top: 30px;
	position: relative;
	width: 100%;
}
.sidebar_player .pos .player-pos-bar {
	height: 3px;
	width: 310px;
	background: rgba(255,255,255,0.2);
	position: absolute;
	left: 45px;
	top: 7px;
}
.sidebar_player .player-pos {
	position: absolute;
	left: 45px;
	top: 7px;
	height: 3px;
	background-color: white;
	width: 0px;
}
.sidebar_player .player-pos .player-pos-dot {
	position: absolute;
	right: 0px;
	top: -7.5px;
	width: 15px;
	height: 15px;
	background: $primary-highlight-color;
	border-radius: 15px;
	border: 2px solid $primary-bg-color;
}
.sidebar_player .player-pos-time {
	font-size: 14px;
	color: #FFFFFF;
	line-height: 16px;
}
.sidebar_player .player-pos-duration {
	font-size: 14px;
	position: absolute;
	color: #CECECE;
	line-height: 15px;
	top: 0px;
	right: 0px;
}
.sidebar_player .player {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	float: left;
}
.sidebar_player .player_wrapper {
	display: inline-block;
	text-align: center;
	width: auto;
	margin: auto;
}
.sidebar_player .random, .sidebar_player .repeat {
	font-size: 24px;
	color: rgba(255,255,255,0.5);
	margin: 0 8px;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin-top: 25px;
}
.sidebar_player .random.active, .sidebar_player .repeat.active {
	color: $primary-highlight-color;
}
.sidebar_player .backward, .sidebar_player .forward, .sidebar_player .play {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	border: 2px solid #D8D8D8;
	color: #D8D8D8;
	display: inline-block;
	line-height: 45px;
	margin: 0px 4px;
	margin-top: 16px;
	cursor: pointer;
	font-size: 18px;
	float: left;
}
.sidebar_player .backward:hover, .sidebar_player .forward:hover, .sidebar_player .play:hover {
	color: $primary-highlight-color;
	border: 2px solid $primary-highlight-color;
}
.sidebar_player .play {
	width: 56px;
	height: 56px;
	font-size: 20px;
	line-height: 52px;
	border-radius: 56px;
	margin-top: 13px;
}
.sidebar_player .backward i {
margin-left: -6px;
}
.sidebar_player .forward i {
margin-left: 3px;
}
.sidebar_player .play i {
margin-left: 3px;
}
.sidebar_player .play .fa-pause {
margin-left: 0px;
}

.btn {
		 -webkit-transition: 0.25s ease-out;
       -moz-transition: 0.25s ease-out;
       -o-transition: 0.25s ease-out;
       transition: 0.25s ease-out;   
}
.btn .fa {
	margin-right: 5px;
}
.btn.btn-primary {
	border: 2px solid $primary-highlight-color;
	color: white;
	background: rgba(0,0,0,0);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
}
.btn.btn-primary .fa {
	color: $primary-highlight-color;
}
.btn.btn-primary:focus, .btn.btn-primary:select {
	box-shadow: none;
	outline: none;
}
.btn.btn-primary:hover {
	background-color: rgba(0,0,0,0.2);
}
.playlist_info .btn {
	margin-top: 15px;
	float: left;
	margin-right: 20px;
}
#menu {
        position: fixed;
         top: 0;
         bottom: 0;
         width: $width;
         right: 0-$width;
         height: 100%;
         @include transform-translate(0px,null);
        background: $primary-bg-color;
   }

#menu.active {
         @include transform-translate(-480px,null);
}
.menu-link {
      position: absolute;
      top: 15px;
      left: -50px;
}

#site {
       @include transform-translate(0px,null);

}

#site.active {
		@include transform-translate(-300px,null);
}

#user-meta {
	position: fixed;
	top: 20px;
	left: 25px;
	color: #BBBBBB;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	z-index: 10;
}
#user-meta a {
	color: black;
}


.toggle-nav {
	position: absolute;
	left: -25px;
	top: 10px;
	font-size: 20px;
	color: black;
}
#footer-player {
	height: 70px;
	position: fixed;
	bottom: 0px;
	z-index: 1;
	background: white;
	width: 100%;
	-webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
       -ms-transform: translate(0px, 0px);
       transform: translate(0px, 0px);
       border-top: 3px solid rgba(0,0,0,0.04);
     line-height: 70px;
}
#footer-player .player_wrapper {
	display: inline-block;
	width: auto;
}
#footer-player .random, #footer-player .repeat {
	font-size: 20px;
	color: #BBBBBB;
	float: left;
	margin: 0 8px;
	cursor: pointer;
}
#footer-player .random.active, #footer-player .repeat.active {
	color: $primary-bg-color;
}
#footer-player .backward:hover, #footer-player .forward:hover, #footer-player .play:hover {
	background: black;
	color: white;
}
#footer-player .backward, #footer-player .forward, #footer-player .play {
	float: left;
	width: 37px;
	height: 37px;
	border-radius: 37px;
	text-align: center;
	border: 2px solid black;
	display: inline-block;
	line-height: 34px;
	margin: 0px 4px;
	margin-top: 16px;
	cursor: pointer;
}
#footer-player .play {
	width: 42px;
	height: 42px;
	line-height: 38px;
	font-size: 18px;
	margin-top: 13px;
}
#footer-player .play i {
margin-left: 4px; 
}
#footer-player .play i.fa-pause {
margin-left: 0px; 
}
#footer-player .backward i {
	margin-left: -4px;
}
#footer-player .forward i {
	margin-left: 4px;
}
#footer-player.active {
	-webkit-transform: translate(0px, 70px);
       -moz-transform: translate(0px, 70px);
       -o-transform: translate(0px, 70px);
       -ms-transform: translate(0px, 70px);
       transform: translate(0px, 70px);
}
#footer-player .player-pos {
	position: absolute;
	top: -2px;
	height: 2px;
	width: 60%;
	background: black;
}
#footer-player .player-pos-dot {
	position: absolute;
	right: 0px;
	top: -5px;
	width: 12px;
	height: 12px;
	background: black;
	border-radius: 10px;
	border: 2px solid white;
}
#footer-player .player-pos-time {
	position: absolute;
	right: -5px;
	top: -50px;
	opacity: 0;
}
#footer-player .player-pos:hover .player-pos-time {
	opacity: 1;
}
.animate {
	 -webkit-transition: 0.25s ease-out;
       -moz-transition: 0.25s ease-out;
       -o-transition: 0.25s ease-out;
       transition: 0.25s ease-out;   
}
.timeline .line {	
	border-left: 3px solid #F2F2F2;
	z-index: 20;
	height: 100%;
}
#site {
	position: relative;
	height: 100%;
}
.song, .add-song {
	margin: 15px 0;
	float: left;
	position: relative;
	background: transparent;
	width: 100%;
}
.song.first {
	margin-top: 50px;
}
.song.last {
	margin-bottom: 100px;
}
.song .meta_left {
	text-align: right;
	float: left;
	background: transparent;
	width: 200px;
	position: absolute;
	left: -195px;
	
}
.song .meta_left p.zero {
	opacity: 0;
	display: block;
}
.song .meta_left p {
	position: relative;
	right: 12px;
	letter-spacing: 0.08em;
	color: #BBBBBB;
	
	margin-top: 10px;
	font-size: 14px;
	line-height: 8px;
}
.song .meta_left p.now-playing {
	margin-top: 16px;
	color: black;
	text-transform: uppercase;
	font-weight: bold;font-size: 12px;
	letter-spacing: 0.15em;
}
.song .meta_left p.time {
	color: #D8D8D8;
}
.song .avatar {
	float: right;
	width: 44px;
	height: 44px;
	border-radius: 44px;
	overflow: hidden;
	border: 2px solid white;
	margin-top: 25px;
}
.song .song-right {
	float: left;
	position: relative;
	left: 23px;
	top: 0px;
	width: 100%;
}
.song .song-right img {
	float: left;
	width: 110px;
	height: 110px;
}
.song .song-right .title {
	color: black;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
	padding: 0px;
	letter-spacing: 0.05em;
	float: left;
	width: 70%;
	margin-bottom: 0px;
	clear: none;
	cursor: pointer;
}
.song.playing .song-right .title {
	font-weight: normal;
}

.song .song-right .artist, .song .song-right .time {
	color: #979797;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	margin-left: 20px;
	margin-top: 6px;
	margin-bottom: 0px;
	padding: 0px;
	letter-spacing: 0.05em;
	float: left;
	clear: none;
	width: 70%;
}
.song .song-right .time i {
	margin-right: 5px;
}
.add-song {
	height: 110px;
	margin-bottom: 100px;
}
.add-song .fake-avatar {
	position: absolute;
	width: 44px;
	left: -40px;
	height: 44px;
	border-radius: 44px;
	overflow: hidden;
	border: 2px solid white;
	background: #F2F2F2;
	line-height: 40px;
	color: #979797;
	
}
.add-song .fake-cover {
	float: left;
	left: 23px;
	position: relative;
	width: 110px;
	height: 110px;
	text-align: center;
	background: #F2F2F2;
	line-height: 120px;
	font-size: 50px;
	color: #DADADA;
}
.add-song input {
	float: left;
	width: 100%;
	margin-left: 40px;
	margin-top: 15px;
	height: 35px;
	border: 2px solid #F2F2F2;
	color: #D8D8D8;
}
.add-song form {
	float: left;
}
.add-song .btn {
	float: left;
	clear: both;
	margin-top: 10px;
	background: #F2F2F2;
	color: #979797;
	margin-left: 40px;
	height: 35px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
	border: 2px solid #F2F2F2;
}
.add-song .btn .fa {
	margin-right: 5px;
	
}
.add-song .btn:hover {
	border: 2px solid #1C232D;
	color: #1C232D;
}

/** MODALS **/
.modal-login {
	width: 400px;
}
.modal-content {
	border-radius: 0px;
	border: 0px;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.modal-backdrop.in {
	filter: alpha(opacity=80);
	opacity: .8;
}
.modal-title {
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-top: 20px;
}
.modal-header {
	padding: 20px;
	border: 0px;
	padding-bottom: 10px;
}
.modal-body {
	padding: 30px 50px 30px 50px;
}
.modal-sm .modal-body {
	padding: 30px;
}
@media (min-width: 768px) {
.modal-content {
-webkit-box-shadow: none !important;
box-shadow: none !important;;
}
}

/* FORMS */ 
.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    border-color: rgba(0,0,0,0.2)
}
.modal-form .form-control {
	    padding-left: 42px;
}

.form-control:focus {
	border-color: rgba(0,0,0,1);
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: inset none;
	color: black;
}

.form-control + .glyphicon, .form-control + .fa {
    position: absolute;
    left: 0;
    font-size: 16px;
    padding-top: 16px;
    padding-left: 35px;
    padding-bottom: 16px;
    color: silver;
}
.form-control + .fa {
top: 0px;
padding: 10px 27px;
}

/** BUTTONS **/
.btn-default {
	border: 2px solid black;
	text-transform: uppercase;
	letter-spacing: 1px;
	/* width: 100%; */
	margin-bottom: 10px;
}


/* FORMS */ 
.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    border-color: rgba(0,0,0,0.2)
}
.modal-form .form-control {
	    padding-left: 42px;
}

.form-control:focus {
	border-color: rgba(0,0,0,1);
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: inset none;
	color: black;
}

.form-control + .glyphicon, .form-control + .fa {
    position: absolute;
    left: 0;
    font-size: 16px;
    padding-top: 16px;
    padding-left: 35px;
    padding-bottom: 16px;
    color: silver;
}
.form-control + .fa {
top: 0px;
padding: 10px 27px;
}

/** BUTTONS **/
.btn-default {
	border: 2px solid black;
	text-transform: uppercase;
	letter-spacing: 1px;
	/* width: 100%; */
	margin-bottom: 10px;
}



